{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mt-4 mb-2">
            <div class="card shadow-lg border-0 rounded-lg mt-6">
                <div class="card-header"><h3 class="text-start font-weight-light my-4">ข้อมูลพนักงาน</h3></div>
                <div class="card-body">
                    <table class="table table-hover table-bordered rounded ">
                        <tr class="bg-white text-dark text-center">
                            <th class="col col-2">รหัสพนักงาน</th>
                            <th class="col col-3">ชื่อผู้ใช้งาน</th>
                            <th class="col col-3">ตำแหน่ง</th>
                            <th class="col col-2">จัดการข้อมูล
                                <a href="{% url 'empNew' %}"
                                   class="btn btn-sm btn-primary mx-auto ms-1 ">
                                    <i class="fa fa-plus"></i> </a>
                            </th>
                        </tr>
                        <tr class="">
                            <td class="bg-white"></td>
                            <td class="bg-white"></td>
                            <td class="bg-white"></td>
                            <td class="bg-white"></td>
                        </tr>

                        {% for employee in employees %}
                        <tr>
                            <td class="text-center">{{ employee.id }}</td>
                            <td class="text-center">{{ employee.userName|upper }}</td>
                            <td class="text-center">EMPLOYEE</td>
                            <td class="text-lg-center">
                                <a href="{% url 'empUpdate' employee.id %}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'empDelete' employee.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}