{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Home</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">จำนวนลูกค้า</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <p>{{ countCus }}&nbsp&nbsp&nbspคน</p>
                        <a class="small text-white stretched-link" href="{% url 'cusList' %}">รายละเอียด</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">จำนวนพนักงาน</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <P>{{countEmp}}&nbsp&nbsp&nbspคน</P>
                        <a class="small text-white stretched-link" href="{% url 'empList' %}">รายละเอียด</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">รายการรับซื้อสินค้า</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <p>{{ countReceiveOrder }}&nbsp&nbsp&nbspรายการ</p>
                        <a class="small text-white stretched-link" href="{% url 'stockInList' %}">รายละเอียด</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">รายการขายซื้อสินค้า</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <p>{{ countSendOrder }}&nbsp&nbsp&nbspรายการ</p>
                        <a class="small text-white stretched-link" href="{% url 'stockOutList' %}">รายละเอียด</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                    </div>
                    <div class="card-body">
                        {{ chartPie | safe }}
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                    </div>
                    <div class="card-body">
                        {{ chartBar | safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}