{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-3">
    <div class="card mt-2">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-3">รายการรับซื้อ</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <h4>ข้อมูลลูกค้า</h4>
                    {% for detail in details %}
                    {% if forloop.first %}
                    <div class="col-3">
                        <div class="form-floating">
                            <input disabled class="form-control" id="fullName" value="{{ detail.cus_id }}"
                                   name="fullName" type="text"
                                   placeholder="fullName"
                                   required/>
                            <label for="fullName">ชื่อ - นามสกุล</label>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-floating">
                            <input disabled class="form-control" id="tell" value="{{ detail.cus_id.tell }}"
                                   name="tell" type="text" placeholder="tell"
                                   required/>
                            <label for="tell">ติดต่อ</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input disabled class="form-control" value="{{ detail.cus_id.address }}" id="address"
                                   name="address" type="text" placeholder="address"
                                   required/>
                            <label for="address">ที่อยู่</label>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <hr/>
                <div class="row">
                    <h4>ข้อมูลรับซื้อ</h4>
                    {% for detail in details %}
                    <div class="row mb-2">
                        <div class="col-8">
                            <div class="form-floating">
                                <input disabled class="form-control" value="{{ detail.inv_id.type_id }}"
                                       name="product_{{ forloop.parentloop.counter }}" type="text"
                                       placeholder="ประเภท"
                                       required/>
                                <label>ประเภท</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input disabled class="form-control" value="{{detail.amount}}"
                                       name="amount_{{ forloop.parentloop.counter }}"
                                       type="number"
                                       placeholder="จำนวนที่รับซื้อ"
                                       required/>
                                <label>จำนวนที่รับซื้อ</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input disabled class="form-control" value="{{detail.total}}"
                                       name="total_{{ forloop.parentloop.counter }}"
                                       type="number"
                                       placeholder="ราคารวม"
                                       required/>
                                <label>ราคารวม</label>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <h4 class="text-success text-end">ยอดรวมทั้งหมด {{ total }}</h4>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-danger btn-block" onclick="history.back()">
                            ย้อนกลับ
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
