{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1>ข้อมูลรับซื้อ</h1>
        <div class="row align-items-sm-center">
            <div class="col">
                <a class="btn btn-warning btn-block w-80" href="{% url 'cusNew' %}">
                    เพิ่มข้อมูลลูกค้า
                </a>
                <a class="btn btn-primary btn-block w-80" href="{% url 'stockInNew' %}">
                    เพิ่มรายการรับซื้อ
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>รหัส</th>
                    <th>วันเวลา</th>
                    <th>ยอดรวม</th>
                    <th>จัดการข้อมูล</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>รหัส</th>
                    <th>วันเวลา</th>
                    <th>ยอดรวม</th>
                    <th>จัดการข้อมูล</th>
                </tr>
                </tfoot>
                <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{ order.date|date:"j F Y เวลา H:i" }}</td>
                    <td>{{order.total}}</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="w-100">
                                <a class="btn btn-success btn-block w-100" href="{% url 'stockInDetail' order.id %}">
                                    ดูรายละเอียด
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}