@ -1,7 +1,65 @@
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1>ข้อมูลคลัง</h1>
        <div>
            <a class="btn btn-primary btn-block w-100" href="{% url 'stockNew' %}">
                เพิ่มข้อมูล
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>รหัส</th>
                    <th>ชื่อประเภท</th>
                    <th>อัตราการรับซื้อ / กิโลกรัม</th>
                    <th>อัตราการรับขาย / กิโลกรัม</th>
                    <th>จำนวน (กิโลกรัม)</th>
                    <th>จัดการข้อมูล</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>รหัส</th>
                    <th>ชื่อประเภท</th>
                    <th>อัตราการรับซื้อ / กิโลกรัม</th>
                    <th>อัตราการรับขาย / กิโลกรัม</th>
                    <th>จำนวน (กิโลกรัม)</th>
                    <th>จัดการข้อมูล</th>
                </tr>
                </tfoot>
                <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{stock.id}}</td>
                    <td>{{stock.type_id.productName}}</td>
                    <td>{{stock.type_id.rateReceive}}</td>
                    <td>{{stock.type_id.rateSend}}</td>
                    <td>{{stock.totalAmount}}</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="me-1 w-50">
                                <a class="btn btn-warning btn-block w-100" href="{% url 'stockUpdate' stock.id %}">
                                    แก้ไข
                                </a>
                            </div>
                            <div class="ms-1 w-50">
                                <a class="btn btn-danger btn-block w-100" href="{% url 'stockDelete' stock.id %}">
                                    ลบ
                                </a>
                            </div>
                            <div class="ms-2 w-50">
                                <a class="btn btn-success btn-block w-100" href="{% url 'stockSell' stock.id %}">
                                    ขาย
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}